<h1>New Tool</h1>

    <%= simple_form_for( @tool, data: {turbo: false}) do |f| %>
      <%= f.error_notification %>


    <div class="container">
    <div class="flex-container">

    <div class="form-inputs" style="margin: 50px; margin-top: 0;">
      <%= f.error_notification %>
      <%= f.input :alias, required: true %>
      <%= f.input :sap , required: true %>
      <%= f.input :layout, required: true %>
      <%= f.input :plant, collection: [ "Cuautla","UK", "Spain", "India"], required: true %>
      <%= f.input :bu, required: true %>
      <%= f.input :technology, required: true %>
    </div>

    <div class="form-inputs" style="margin: 50px; margin-top: 0;">
      <%= f.input :customer, required: true %>
      <%= f.input :volume, required: true%>
      <%= f.input :max , required: true %>
      <%= f.input :damaged, required: true %>
      <%= f.input :blocked, required: true %>
      <%= f.input :spares, required: true %>

      <%= f.submit %>

    </div>
</div>

<% end %>
